<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1088627361652-m895j7mclepigqt1f9oq6p51dmgdq75m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088627361652-m895j7mclepigqt1f9oq6p51dmgdq75m</string>
	<key>API_KEY</key>
	<string>AIzaSyALY0loNJ4aQW65H4l7RDMkzI0TyrZScuA</string>
	<key>GCM_SENDER_ID</key>
	<string>1088627361652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chaarsu.chandkareh</string>
	<key>PROJECT_ID</key>
	<string>chaarsu-8b2eb</string>
	<key>STORAGE_BUCKET</key>
	<string>chaarsu-8b2eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088627361652:ios:d8363bd7e09afa9c</string>
	<key>DATABASE_URL</key>
	<string>https://chaarsu-8b2eb.firebaseio.com</string>
</dict>
</plist>